{% extends "base.html" %}

{% block title %}List of users{% endblock %}

{% block content %}
  <h1>Users</h1>
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-success {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <hr>
  <form action="{{ url_for('user_list') }}" method="get">
    <div class="mb-3 input-group">
      <input type="search" class="form-control" id="username" name="term" value="{{ search }}">
      <input type="submit" class="btn btn-primary" value="Search">
    </div>
  </form>
  <hr>
  <table class="table">
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>
          <a href="{{ url_for('user_detail', id=user.id) }}">{{ user.first_name }}</a>
        </td>
      </tr>
    {% endfor%}
  </table>
{% endblock %}
