{% extends "base.html" %}

{% block title %}Create new user{% endblock %}

{% block content %}
  <form action="{{ url_for('users_post') }}" method="post">
    <div>
      <label>
        First name
        <input type="text" required name="first_name" value="{{ user.first_name }}">
      </label>
      {% if errors['first_name'] %}
        <div>{{ errors['first_name'] }}</div>
      {% endif %}
    </div>
    <div>
      <label>
        Last name
        <input type="text" required name="last_name" value="{{ user.last_name }}">
      </label>
      {% if errors['last_name'] %}
        <div>{{ errors['last_name'] }}</div>
      {% endif %}
    </div>
    <div>
      <label>
        Email
        <input type="email" required name="email" value="{{ user.email }}">
      </label>
      {% if errors['email'] %}
        <div>{{ errors['email'] }}</div>
      {% endif %}
    </div>
    <input type="submit" value="Sign Up">
  </form>
{% endblock %}