{% extends "base.html" %}

{% block title %}Catalog of programming shools{% endblock %}

{% block content %}
  <h1>Schools</h1>
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-success {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <table class="table">
    {% for school in schools %}
      <tr>
        <td>{{ school.id }}</td>
        <td>
          <a href="{ url_for('school', id=school.id) }}">{{ school.name }}</a>
        </td>
      </tr>
    {% endfor%}
  </table>
{% endblock %}


